//COLORS
$color-primary: #ffe878;
$color-primary-light: #9de661;
$color-primary-dark: #e4c83d;

// $color-primary: #e6f4ff;
// $color-primary-light: #bee3ff;
// $color-primary-dark: #5086af;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
