*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  // browser default : 16px, I need 10px, so 10/16=0.625
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
